<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      style="text-align: center"
      *ngIf="budgetFacade.selectedBudget$ | async as budget"
    >
      {{ budget.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
    *ngIf="budgetMonthFacade.currentBudgetMonth$ | async as budgetMonth"
    expand="block"
    color="success"
    size="large"
    [routerLink]="['categorize']"
    >{{ budgetMonth.toBeBudgeted | currency }} to budget!</ion-button
  >

  <div style="display: flex; margin-top: 2rem; justify-content: space-evenly">
    <app-category-button
      *ngFor="let category of categoryFacade.categories$ | async"
      [category]="category"
    ></app-category-button>
  </div>
</ion-content>

<ion-fab
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  [routerLink]="['../../']"
>
  <ion-fab-button>
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
