<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="budgetFacade.selectedBudget$ | async as budget">
      {{ budget.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
    *ngIf="budgetMonthFacade.currentBudgetMonth$ | async as budgetMonth"
    expand="block"
    color="success"
    size="large"
    [routerLink]="['categorize']"
    >{{ budgetMonth.toBeBudgeted | currency }} to budget!</ion-button
  >

  <ion-row>
    <ion-col
      *ngFor="let category of categoryFacade.categories$ | async"
      [size]="6"
    >
      <app-category-button [category]="category"></app-category-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-fab
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  [routerLink]="['../../']"
>
  <ion-fab-button>
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
