<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">
      YNAB For Kids
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rowan's Budget</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [button]="true" style="padding: 1rem;">
    <ion-card-title>
      Rowan's Budget
    </ion-card-title>
  </ion-card>

  <ion-card [button]="true" style="padding: 1rem;">
    <ion-card-title>Rosalie's Budget</ion-card-title>
  </ion-card>
</ion-content>
