<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-money-button [amount]="25"></app-money-button>
  <app-money-button [amount]="25"></app-money-button>

  <app-money-button [amount]="10"></app-money-button>
  <app-money-button [amount]="5"></app-money-button>
  <app-money-button [amount]="1"></app-money-button>

  <div style="display: flex; margin-top: 2rem; justify-content: space-evenly">
    <app-category-button
      *ngFor="let category of categoryFacade.categories$ | async"
      [amount]="category.balance"
      [name]="category.name"
      (select)="onSelectCategory(category)"
    ></app-category-button>
  </div>
</ion-content>
