<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container appMoneyDropManager>
    <app-money-button [amount]="0.25"></app-money-button>
    <app-money-button [amount]="0.25"></app-money-button>

    <app-money-button [amount]="0.1"></app-money-button>
    <app-money-button [amount]="0.05"></app-money-button>
    <app-money-button [amount]="0.01"></app-money-button>

    <ion-row>
      <ion-col
        *ngFor="let category of categoryFacade.currentBudgetCategories$ | async"
        [size]="6"
      >
        <app-category-button
          [category]="category"
          (select)="onSelectCategory(category)"
        ></app-category-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>

<ion-fab
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  [routerLink]="['../../']"
>
  <ion-fab-button>
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
